doctype html
html
  head
    link(rel='stylesheet', href='css/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/spectrum.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css')
    script(src='js/jquery-1.11.2.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js')
    script(src='js/bootstrap.js')
    script(src='js/spectrum.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-en-US.min.js')
    style.
      body {
      overflow: hidden;
      }
      .help-block {
      display: inline;
      }
      .modal-dialog {
      width: 98%;
      height: 90%;
      padding: 0;
      }
      .modal-dialog-about {
      width: 60%;
      height: 60%;
      padding: 0;
      }
      .btn-file {
      position: relative;
      overflow: hidden;
      }
      .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
      }
      .modal.in {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      }
      .modal-backdrop.in {
      opacity: 0;
      }
      @media (min-width: 992px) {
      .navbar li {
      margin-left: 1em;
      margin-right: 1em;
      }
      }
  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          a.navbar-brand(style='line-height:32px;', href='/crda_test') CRDA DATA VIEWER
        // Collect../ the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              button#openBtn.btn.btn-info(href='#queryModal', onclick='getListOfAttributes();', data-toggle='modal', style='margin-top:13px;') QUERY
              a#download_link(href='#', download='map.jpg')
            li
              button#openBtn.btn.btn-info(href='#exportModal', data-toggle='modal', style='margin-top:13px;') PRINT MAP
        // /.navbar-collapse
      // /.container
    // Page Content
    div(style='margin-top: 90px; margin-right: 50px;')
      .row
        .col-lg-18
          .row
            .col-md-offset-1.col-md-4(style='width: 440px;')
              button.btn.btn-sm(title='Zoom in', onclick='_zoomIn()', style='margin-right: 2px;')
                i.fa.fa-search-plus
              button.btn.btn-sm(title='Zoom out', onclick='_zoomOut()', style='margin-right: 2px;')
                i.fa.fa-search-minus
              button.btn.btn-sm(title='Pan up', onclick='_panUp()', style='margin-right: 2px;')
                i.fa.fa-arrow-up
              button.btn.btn-sm(title='Pan down', onclick='_panDown()', style='margin-right: 2px;')
                i.fa.fa-arrow-down
              button.btn.btn-sm(title='Pan right', onclick='_panRight()', style='margin-right: 2px;')
                i.fa.fa-arrow-right
              button.btn.btn-sm(title='Pan left', onclick='_panLeft()', style='margin-right: 2px;')
                i.fa.fa-arrow-left
              button.btn.btn-sm(title='Zoom full', onclick='_equalPosition()', style='margin-right: 2px;')
                i.fa.fa-arrows-alt
            .col-md-2(style='width: 240px;')
              span.help-block Pen Stroke  
              input#stroke_color(title='Stroke color', style='margin-right: 2px;', type='button')
              button.btn.btn-sm(title='Penwidth increase', style='margin-right: 2px;', onclick='_penIncrease()')
                i.fa.fa-plus
              button.btn.btn-sm(title='Penwidth decrease', style='margin-right: 2px;', onclick='_penDecrease()')
                i.fa.fa-minus
            .col-md-2
              span.help-block Fill Color  
              input#fill_color(title='Fill color', type='button')
            .col-md-2
              span.help-block Label  
              input#label_color(title='Label color', style='margin-right: 2px;', type='button')
              button.btn.btn-sm(title='Label width increse ', style='margin-right: 2px;', onclick='_labelSizeIncrease()')
                i.fa.fa-plus
              button.btn.btn-sm(title='Label width decrease', style='margin-right: 2px;', onclick='_labelSizeDecrease()')
                i.fa.fa-minus
            .col-md-1
              select#label.labels.form-control(onchange='labelToggle();')
                option(value='None') Label
      // /.row
      .row
        .col-sm-6(style='padding-right:20px; border-right: 1px solid #ccc;')
          h2(style='font-family: verdana; text-align:center;') Map View
          hr
          canvas#map(style='overflow:hidden;', ondblclick='_zoomEvent(event)')
        .col-sm-6
          h2(style='font-family: verdana; text-align: center;') Attribute View
          hr
          .table-responsive
            table#table.diag.table.table-bordered.table-hover(data-height='700')
              thead.diag-head
              tbody.diag-body
    // For uploads
    #queryModal.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-xl
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title(style='text-align: center;') QUERY
          .modal-body
            center
              .form-group
                label(for='sel1') Select Attribute:
                select#select_attribute.form-control(name='select_attribute', style='width:20%')
              .form-group
                label Attribute value:
                input#value_input(type='textbox', style='width:20%', name='value_input')
              ul(style='display: inline-flex; list-style-type : none;')
                button.btn.btn-primary(onclick='runQuery()') RUN QUERY
          div(style='text-align: center')
            p#message_for_files
              b
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    // Export Modal
    #exportModal.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-xl
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title EXPORT YOUR DATA
          .modal-body(style='margin-left: 40%;')
            .row
              .col-md-6
                | Export data with Background as
                select#background_color_export.form-control(onchange='_addCanvasColor()')
                  option(value='white') White
                  option(value='transparent') Transparent
                  option(value='color') Color
                #backgroundColorDiv.col-md-2(style='width : 150px;')
                  span.help-block Fill Color  
                  input#fill_background_color(title='Fill color', type='button')
                br
                |                             Format of the image as
                select#export.form-control(onchange='_export();')
                  option(value='--Select One--') --Select One--
                  option(value='PNG') PNG
                  option(value='JPG') JPG
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
    // Modal
    #myModal.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-xl
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Modal title
          .modal-body
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
    script.
      // Necessary for file validation
      var MIME_TYPES = {
      'shapefile': ['shp', 'shx', 'dbf'],
      'gpx': ['gpx'],
      'kml': ['kml'],
      'geojson': ['geojson'],
      'gml': ['gml']
      }
      function showUploadInput() {
      $('#upload_form').show();
      var select_file_format = document.getElementById('select_file').value;
      var message = document.getElementById('message_for_files');
      if (select_file_format == "None") {
      $('#upload_form').hide();
      message.innerHTML = '';
      }
      for (var key in MIME_TYPES) {
      if (select_file_format == key) {
      message.innerHTML = "<b>PLEASE MAKE SURE UPLOADING FILE(S) HAVE AN EXTENSION ." + MIME_TYPES[key] + "</b>";
      }
      }
      console.log("select_file_format = " + select_file_format);
      }
      // method: getListOfAttributes()
      function getListOfAttributes() {
      var select_length = document.getElementById('select_attribute').length;
      if (select_length < 1){
      $.get( "/attributes", function( data ) {
      select = document.getElementById('select_attribute');
      for (var i = 0; i<data.length; i++){
      var opt = document.createElement('option');
      opt.value = data[i]['column_name'];
      opt.innerHTML = data[i]['column_name'];
      select.appendChild(opt);
      }
      });
      }
      }
    script(src='js/jquery.form.js')
    script(type='text/javascript', src='js/lsiviewer.js')
